{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block page_content %}
    <h1>Supermarket Search</h1>
<p>Type a product name below. Please allow 5-10 seconds per search...</p>
<form action="." method="POST">
        <input type="text" name="textsearch" id="textsearch">
        <input type="submit" name="my-form" value="GO">
    </form>
    <table class="table table-hover">
        <tr>
            <th>Rank</th>
            <th>Store</th>
            <th>Product</th>
            <th>Price per</th>
        </tr>
        {% for month in months %}
            {{ macros.weather_row(month,
                                  weather[month]['min'],
                                  weather[month]['max'],
                                  weather[month]['rain'],
                                  highlight['min'],
                                  highlight['max'],
                                  highlight['rain']) }}
        {% endfor %}
    </table>
{% endblock %}
